/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* MY STYLES START HERE */
/****** VARIABLES ******/
/***** MIX-INS *****/
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
/***** GLOBAL STYLES *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster Two', cursive;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 1%;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 1%;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 1%;
}
/***** BODY STYLES *****/
body {
  font-family: 'Poppins', sans-serif;
  color: #282D30;
}
.wrapper header {
  background-color: pink;
}
.wrapper header nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 1%;
  height: 8%;
}
.wrapper header a {
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
}
.wrapper header a:hover {
  color: oldlace;
}
.wrapper main {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .wrapper main {
    display: flex;
    flex-direction: column;
  }
}
.wrapper .image {
  padding: 1% 1% 1% 10%;
  width: 50%;
  background-color: oldlace;
}
.wrapper .image img {
  width: 75%;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .wrapper .image {
    width: 100%;
    padding: 2%;
  }
  .wrapper .image img {
    width: 100%;
  }
}
.wrapper .contact {
  background-color: oldlace;
  flex-direction: column;
  width: 50%;
}
.wrapper .contact .intro {
  margin: 25% 0 1% 0;
  text-align: center;
}
.wrapper .contact hr {
  margin: 2%;
}
@media (max-width: 500px) {
  .wrapper .contact {
    width: 100%;
  }
  .wrapper .contact .intro {
    margin: 5%;
  }
}
.wrapper .contact .contact-me {
  text-align: center;
}
.wrapper .contact a {
  color: #282D30;
}
.wrapper .contact a i {
  margin: 2% 2%;
}
.about {
  display: flex;
  background-color: pink;
}
@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}
.about #about-me {
  width: 50%;
  text-align: center;
  padding: 1%;
}
@media (max-width: 500px) {
  .about #about-me {
    width: 100%;
  }
}
#skills {
  width: 50%;
  text-align: center;
  padding: 1%;
}
@media (max-width: 500px) {
  #skills {
    width: 100%;
  }
}
/* body div, section, footer, main div {
			// border: 1px dashed grey;
		} */
.work-history {
  background-color: oldlace;
}
.work-history .table {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.work-history .table h3 {
  display: flex;
  justify-content: center;
}
.work-history .table table,
.work-history .table th,
.work-history .table td {
  border: 1px solid hotpink;
  text-align: center;
}
.work-history .table table th,
.work-history .table th th,
.work-history .table td th {
  font-weight: bold;
  border: 2px solid hotpink;
}
footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 1%;
  height: 8%;
  background-color: pink;
}
