/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* MY CODE STARTS HERE */
.container {
  margin: 4vh;
  max-width: 96vw;
  max-height: 96vh;
  /*Is this okay with the margin? */
  display: flex;
  flex-direction: column;
  border: 1px solid orangered;
}
.container header {
  height: 40%;
  width: 55%;
  padding: 4vh;
  color: #e7c97c;
  font-family: 'Delius Swash Caps', cursive;
  text-align: center;
  background: #d18a95;
  background: linear-gradient(0deg, rgba(209, 138, 149, 0.89899118) 20%, #bf7d87 66%);
}
.container aside {
  height: 100%;
  width: 30%;
  border: 1px solid rebeccapurple;
}
.container aside img {
  height: 10vh;
  width: 10vw;
}
.container .hello,
.container .get-social {
  color: #e7c97c;
  align-content: center;
  height: 5vh;
  /* used vh so div scales with h2 inside it*/
  border: 3px solid rgba(191, 125, 135, 0.95);
  font-family: 'Meddon', cursive;
}
.container .hello h2,
.container .get-social h2 {
  font-size: 8vh;
  /* used vh so font bleeds out of div */
}
