// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

/* MY STYLES START HERE */

/****** VARIABLES ******/
@bgcolor1: pink;
@bgcolor2: oldlace;


/***** MIX-INS *****/
.flex-center {
	display: flex;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Poppins', sans-serif;
}

body div, section, footer, main div {
	// border: 1px dashed grey;
}

h1 , h2, h3, h4, h5, h6 {
	font-family: 'Lobster Two', cursive;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 1%;
}

h2 {
	font-size: 1.4rem;
	margin-bottom: 1%;
}

h3 {
	font-size: 1.3rem;
	margin-bottom: 1%
}

header, footer, .about, .skills {
	background-color: @bgcolor1;
}

nav, footer {
	height: 8%;
}

header nav, footer {
	.flex-center();
	justify-content: space-evenly;
	padding: 1%;
}

.image, .contact, .work-history {
	background-color: @bgcolor2;
}

nav a {
	justify-content: space-between;
	text-decoration: none;
	color: white;
}

a:hover {
	color: @bgcolor2;
}

img {
	width: 75%;
	border-radius: 50%;
}

main {
	.flex-center();
}

.image {
	padding: 1% 1% 1% 10%;
	width: 50%;
	// border: 1px dashed grey;
}

hr {
	margin-right: 1%;
}

.contact {
	flex-direction: column;
	width: 50%;
}

.intro {
	margin: 25% 0 1% 0;
	text-align: center;
}

.contact-me {
	text-align: center;
}

.contact-me a {
	color: black;
}

i {
	margin: 1% 1%
}

.about {
	display: flex;	
}

#about-me, #skills{
	width: 50%;
	text-align: center;
	padding: 1%;
}

table, th, td {
	border: 1px solid hotpink;
	text-align: center;
}

.table {
	.flex-column();
	margin: 1%;
}

th {
	font-weight: bold;
}

.table h3 {
	.flex-center();
}

/***** MEDIA QUERIES *****/

@media (max-width: 500px) {
	nav, main, section {
		.flex-column();
	}
}

